@font-face {
  font-family: "Amiga Forever Pro 2";
  src: url("Amiga Forever Pro 2.woff2");
}
html, .level { height: 100%; }
body {
  margin: 0;
  width: 640px;
  height: 360px;
  background-color: #121212;
  color: #181425;
  font-family: "Amiga Forever Pro 2";
  transform-origin: top left;
}
button {
  background-color: transparent;
  border: 0;
  padding: 0;
  font: inherit;
}
.hidden { visibility: hidden; }
.unloaded { display: none; }

.level {
  aspect-ratio: 16 / 9;
  image-rendering: pixelated;
  user-select: none;
}

#main-menu {
  background-image: url("img/Sfondo Menù Principale.png");
  background-size: cover;
}
#logo {
  position: absolute;
  left: 298.6px;
  top: 19.95px;
  width: 310.8px;
}
@keyframes splash {
  to { transform: rotate(-30deg) scale(0.35); }
}
#version {
  position: absolute;
  left: 363px;
  top: 13px;
  width: 256px;
  transform-origin: center;
  transform: rotate(-30deg) scale(0.45);
  animation: splash 0.25s cubic-bezier(0, 0, 0.36338, 1) infinite alternate;
}
#main-menu button, #main-menu span {
  position: absolute;
  left: 20px;
  font-size: 12px;
  padding: 10px;
}
#play, #inc { top: 105px; }
#delete, #dec { top: 165px; }
#show-settings, #back { top: 225px; }
#volume-label, #volume { top: 135px; }
#main-menu #volume, #main-menu #inc, #main-menu #dec {
  left: 135px;
  transform: translateX(-50%);
}
button:hover { color: #c02020; }

#game > div {
  width: 100%;
  height: 100%;
  background-size: cover;
}

#buildings { background-image: url("img/Sfondo Gioco.png"); }
#resources {
  width: min-content;
  display: grid;
  grid-template-columns: 32px auto;
  grid-template-rows: repeat(3, 32px);
  column-gap: 2px;
  justify-items: center;
  align-items: center;
  font-size: 14px;
}
#time {
  position: absolute;
  left: 88px;
  top: 1px;
}
#game button { position: absolute; }
#play-pause {
  left: 596px;
  top: 6px;
}
#save {
  left: 599px;
  top: 48px;
}
#show-volcano, #show-museum { right: 0; }
#show-volcano { top: 149px; }
#show-museum { top: 186px; }
#game button > img { display: block; }
#save > img { width: 24px; }
#show-volcano > img, #show-museum > img { width: 32px; }
.lot {
  width: 48px;
  height: 48px;
}
.lot::before {
  content: url("img/Lotto.png");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.6);
  pointer-events: none;
}
.lot > img {
  position: absolute;
  top: 0;
}

.back { top: 16px; }
.back > img { width: 32px; }

#volcano { background-image: url("img/Vulcano.jpg"); }
#build {
  left: 443px;
  top: 293px;
}
#build > img { width: 184px; }

#museum { background-image: url("img/Sfondo Museo.png"); }
@keyframes unknown {
  from {
    animation-timing-function: cubic-bezier(0, 0, 0.36338, 1);
  }
  25% {
    transform: translateY(-5px);
    animation-timing-function: cubic-bezier(0.63662, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.36338, 1);
  }
  75% {
    transform: translateY(5px);
    animation-timing-function: cubic-bezier(0.63662, 0, 1, 1);
  }
}
.artifact {
  position: absolute;
  animation: unknown 1s infinite;
}
